.morpheus-encrypted-input {
}

.morpheus-encrypted-input.secure {
}

.morpheus-encrypted-input.invalid {
	filter: grayscale(0.7) sepia(0.6) saturate(2.5) hue-rotate(300deg);
}

.morpheus-encrypted-input.insecure {
	filter: grayscale(0.7) sepia(0.6) saturate(2.5) hue-rotate(300deg);
}

.morpheus-recipient {
	font-weight: bold;
}

.morpheus-recipient.valid {
	color: #0a0;
}

.morpheus-recipient.invalid {
	color: #a00;
}

.morpheus-secure {
	filter: grayscale(0.5) sepia(0.1) saturate(5) hue-rotate(70deg);
}

span.morpheus-validity-icon::after {
	margin: 5px;
	content: '\2B1C';
}

span.morpheus-validity-icon.valid::after {
	content: '\2705';
}

span.morpheus-validity-icon.invalid::after {
	content: '\274C';
}

.morpheus-warning {
	border: 2px solid #808080ab;
	filter: grayscale(0.6) sepia(1) saturate(5) hue-rotate(0deg);
}

.morpheus-warning span.morpheus-warning-icon::after {
	margin: 5px;
	font-size: 22px;
	content: "\26A0";
	float: right;
}

span.morpheus-lock-icon::after {
	filter: grayscale(1);
	margin: 5px;
	font-size: 22px;
	content: "\1F512";
}

span.morpheus-lock-icon.valid::after {
	filter: grayscale(0.5) sepia(0.3) saturate(1.5) hue-rotate(70deg);
	font-size: 22px;
	content: "\1F513";
}

span.morpheus-lock-icon.invalid::after {
	filter: grayscale(0.6) sepia(0.1) saturate(10) hue-rotate(0deg);
	font-size: 22px;
	content: "\26A0";
}

span.morpheus-security-icon::after {
	filter: grayscale(1);
	margin: 5px;
	font-size: 22px;
	content: "\2B1C";
}

span.morpheus-security-icon.valid.secure::after {
	filter: grayscale(0.5) sepia(0.3) saturate(1.5) hue-rotate(70deg);
	font-size: 22px;
	content: "\1F512";
}

span.morpheus-security-icon.valid.insecure::after {
	filter: grayscale(0.5) sepia(0.3) saturate(2.5) hue-rotate(310deg);
	font-size: 22px;
	content: "\1F513";
}

span.morpheus-security-icon.valid::after {
	filter: grayscale(0.5) sepia(0.3) saturate(1.5) hue-rotate(70deg);
	font-size: 22px;
	content: "\1F512";
}

span.morpheus-security-icon.invalid::after {
	filter: grayscale(0.6) sepia(0.1) saturate(10) hue-rotate(0deg);
	font-size: 22px;
	content: "\26A0";
}
