* {
	margin: 0;
}

h1, h2 {
	margin: 5px 0;
}

p {
	margin: 2px 0;
}

div {
	display: flex;
	flex-direction: column;

	align-items: center;
}

div.row {
	flex-direction: row;
}

div.spaced {
	width: 100%;
	justify-content: space-between;
}

body {
	padding: 22px;
	min-width: 300px;
	max-width: 300px;
}

.hidden {
  display: none;
}

button {
  margin: 3% auto;
  padding: 2px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}
