#advanced {
	padding: 10px;
	display: none;
}

#advanced textarea {
	width: 300px;
	height: 100px;
}

#advanced > .buttons {
	display: flex;
	
	flex-direction: row;
}

.settings {
	position: absolute;

	padding: 10px;

	right: 10px;
	top: 20px;
}

.lock-image {
	display: none;
	max-width: 122px;
}

.lock-image > img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.lock-image > #deactivate {
	display: none;
}

.enabled {
	color: #0f0;
}

.disabled {

}
