.lock-image {
	position: relative;
}

.lock-image > img {
	width: 202px;
	height: 202px;
	object-fit: contain;
}

@keyframes lock {
	from {
		opacity: 0;
		transform: scale(1.2);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

#lock-enabled {
	position: absolute;
	opacity: 0;
}

.align-left {
	align-items: start;
}

.enabled {
	color: #0f0;
}

.disabled {

}
